@font-face {
  font-weight: 400;
  font-family: "Roboto";
  src: url(../src/fonts/Roboto-Regular.ttf);
}
@font-face {
  font-weight: 700;
  font-family: "Roboto";
  src: url(../src/fonts/Roboto-Bold.ttf);
}
* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  color: white;
  background-color: #08020D;
  margin: 0;
}

h1 {
  font-size: 60px;
  line-height: 90px;
  font-weight: 700;
  text-transform: uppercase;
}

h2 {
  font-size: 38px;
  line-height: 57px;
  font-weight: 700;
  text-transform: uppercase;
}

@media (max-width: 414px) {
  .container {
    padding: 0 20px;
  }
  h1 {
    font-size: 30px;
    line-height: 45px;
    font-weight: 700;
    text-transform: uppercase;
  }
  h2 {
    font-size: 18px;
    line-height: 27px;
    font-weight: 700;
    text-transform: uppercase;
  }
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.btn {
  color: #FFFFFF;
  text-transform: uppercase;
  border-radius: 5px;
}

.p-100 {
  padding-top: 100px;
}

.t-left {
  text-align: left;
}

.header__header {
  display: flex;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 25px;
}

.header__body {
  padding: 200px 0;
}

.header__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 570px;
}

.form__input_text {
  min-width: 270px;
  min-height: 50px;
  padding-left: 20px;
  margin-bottom: 1.5rem;
  border: 2px solid #CACACA;
  border-radius: 3px;
  background: transparent;
}

.form__input_text::placeholder {
  color: #FFFFFF;
  font-weight: bold;
}

.form__btn {
  flex: 1 1 100%;
  background-color: #34C176;
  border: none;
  padding: 20px 30px;
}

.logo__text {
  margin: 3px 0 0 16px;
  text-transform: uppercase;
  font-size: 11px;
  color: #FFFFFF;
}

.menu__link {
  color: #CACACA;
  text-transform: uppercase;
  font-size: 11px;
}

.menu__link:hover {
  color: white;
}

.header__search {
  border: none;
  border-radius: 50px;
  background-color: #3C3B3D;
  padding: 5px 0 5px 10px;
}

.header__search::placeholder {
  text-transform: uppercase;
}

.header__title {
  margin: 0;
}

.header__subtitle {
  margin-top: 0;
}

.logo__img {
  max-width: 24px;
  max-height: 24px;
}

.header__logo {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.header__menu {
  display: flex;
  flex-wrap: wrap;
  margin-left: 90px;
}

.menu__list:not(:first-child) {
  margin-left: 24px;
}

.header__search {
  max-width: 248px;
  margin-left: auto;
}

.header {
  background-image: url("./images/banner.png");
  background-position: center;
  background-size: cover;
}

@media (max-width: 414px) {
  .header__body {
    padding: 250px 0 200px;
  }
  .header__form {
    max-width: 374px;
  }
  .form__input_text {
    flex: 1 1 100%;
  }
  .header__header {
    flex-direction: column;
    align-items: flex-start;
  }
  .header__menu {
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
  }
  .menu__list:not(:first-child) {
    margin-left: 0;
  }
  .menu__list:first-child {
    margin-top: 17px;
  }
  .header__search {
    margin-top: 18px;
    margin-left: 0;
    width: 370px;
  }
  .menu__item {
    line-height: 13px;
  }
  .header__header {
    width: 374px;
  }
}
.pricing__title {
  margin: 0;
}

.card {
  margin-top: 48px;
  padding: 0 1.5rem;
  padding-bottom: 64px;
  border-radius: 1rem;
  flex: 1 1 30%;
  height: 615px;
}

.card:not(:first-child) {
  margin-left: 50px;
}

.value__box {
  display: flex;
  margin-top: 200px;
  justify-content: center;
}

.card__title {
  margin-top: 24px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 400;
}

.value__amount {
  font-size: 64px;
  margin: 0;
  line-height: 1em;
}

.value__currency {
  display: inline-block;
  font-size: 32px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 16px;
}

.card__btn {
  display: block;
  margin-top: 40px;
  border: 1px solid #FFFFFF;
  padding: 20px 30px;
}

.card__footer {
  font-size: 13px;
  margin-top: 64px;
  margin-bottom: 0;
}

.pricing__flex {
  display: flex;
  flex-wrap: wrap;
}

.bg-free {
  background-image: url("./images/subscribe_1.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-standart {
  background-image: url("./images/subscribe_2.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-premium {
  background-image: url("./images/subscribe_3.png");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 414px) {
  .card:not(:first-child) {
    margin-left: 0;
  }
  .card:first-child {
    margin-top: 50px;
  }
  .card__title {
    font-size: 16px;
  }
  .card__title {
    margin-top: 16px;
  }
}
.pricing__description {
  margin-top: 43px;
}

.news__img {
  flex: 1 1 47%;
  width: 575px;
}

.news__btn {
  margin-top: 48px;
  display: block;
  padding: 16px 30px;
  border: 1px solid #CACACA;
  text-align: center;
  width: 135px;
  height: 53px;
  font-size: 12px;
  color: #CACACA;
}

.news__title {
  font-size: 30px;
  line-height: 45px;
  font-weight: 400;
  margin: 0;
}

.news__text {
  color: #CACACA;
  margin: 30px 0 0 0;
}

.news__footer {
  margin-top: 25px;
}

.news__item {
  display: flex;
  flex-wrap: wrap;
}

.news__item:first-of-type {
  margin-top: 50px;
}

.news__item:not(:first-of-type) {
  margin-top: 65px;
}

.news__container {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  justify-content: flex-start;
  flex: 1 1 47%;
  margin-left: 50px;
}

.news__author {
  display: flex;
}

.img__author {
  width: 19px;
  height: 19px;
}

.news__logo {
  color: #F89202;
  text-transform: uppercase;
  margin: 0 0 0 16px;
  font-size: 12px;
}

.news__data {
  color: #CACACA;
  font-size: 12px;
  margin: 0 0 0 16px;
}

.news__item:nth-of-type(even) {
  flex-direction: row-reverse;
}
.news__item:nth-of-type(even) .news__container {
  margin-left: 0;
  margin-right: 50px;
}
.news__item:nth-of-type(even) .news__footer {
  margin-top: 15px;
}

@media (max-width: 414px) {
  .news__title {
    font-size: 16px;
    line-height: 24px;
    margin-top: 50px;
  }
  .news__img {
    width: 100%;
  }
  .news__text {
    margin-top: 16px;
    flex: 1 1 100%;
  }
  .news__container {
    margin-left: 0;
  }
  .news__item:nth-of-type(even) .news__container {
    margin-right: 0;
  }
}
.app__section {
  padding-top: 100px;
  margin-bottom: 100px;
}

.app__title {
  margin: 0;
}

.app__text {
  color: #CACACA;
  text-align: left;
}

.app__btn {
  color: white;
  display: block;
  background-color: #95390C;
  border-radius: 32px;
  padding: 16px 40px;
  font-size: 12.8px;
  width: 131px;
}

.app__container {
  margin-top: 48px;
  display: flex;
  flex-wrap: wrap;
}

.app__body {
  padding-right: 144px;
  flex: 1 1 50%;
}

.app__img {
  padding-right: 144px;
}

@media (max-width: 414px) {
  .app__container {
    flex-direction: column-reverse;
  }
  .app__img {
    padding-right: 0;
    width: 333px;
    margin: 0 auto;
  }
  .app__body {
    padding-right: 0;
  }
}
.footer {
  padding-top: 3rem;
  padding-bottom: 2rem;
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}

.contacts__title {
  font-size: 18px;
  line-height: 27px;
  margin-top: 0;
  margin-bottom: 16px;
}

.contacts__item {
  text-align: left;
}

.contacts__link {
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  color: #E0E0E0;
}

.contacts__link:hover {
  color: white;
}

.footer__contacts {
  display: flex;
  flex-wrap: wrap;
}

.contacts__list {
  flex: 1 1 22%;
}

.contacts__list:not(:first-child) {
  margin-left: 40px;
}

.social__container {
  display: flex;
  flex-wrap: wrap;
}

.social__flex:not(:first-child) {
  margin-left: 24px;
}

.footer__link {
  margin-top: 112px;
  flex-wrap: wrap;
  display: flex;
}

.footer__item:not(:first-child) {
  margin-left: 16px;
}

.horizontal__line {
  position: relative;
}

.horizontal__line::before {
  position: absolute;
  left: 0;
  right: 0;
  top: 72px;
  height: 2px;
  width: 100%;
  background-color: #CACACA;
  content: "";
}

.contacts__color {
  color: #E0E0E0;
}

@media (max-width: 414px) {
  .contacts__list {
    flex: 1 1 100%;
  }
  .contacts__list:not(:first-child) {
    margin-left: 0;
    margin-top: 30px;
  }
  .footer__item {
    flex: 1 1 100%;
    text-align: left;
  }
  .footer__item:not(:first-child) {
    margin-left: 0;
    margin-top: 16px;
  }
}
.header__catalog {
  background-image: url("./images/Morten Harket.png");
  background-position: center;
  background-size: cover;
}

.btn__flex {
  margin-top: 48px;
}

.btn__peorple {
  background-color: #5328A1;
}

.btn__brown {
  background-color: #95390C;
}

.btn__img {
  filter: invert(1);
  width: 20px;
}

.catalog__btn {
  display: flex;
  border: none;
  padding: 20px 30px;
  width: 200px;
  font-size: 12.8px;
  align-items: center;
}

.catalog__btn:not(:first-child) {
  margin-left: 1.5rem;
}

.btn__flex {
  display: flex;
  flex-wrap: wrap;
}

.btn__text {
  margin: 0 0 0 16px;
}

@media (max-width: 414px) {
  .catalog__btn:not(:first-child) {
    margin-top: 1.5rem;
    margin-left: 0;
  }
}
.popular-track-section {
  padding-top: 100px;
}

.popular-track__title {
  margin: 0;
}

.track__author {
  font-size: 12.8px;
  line-height: 19.2px;
  margin: 0;
  text-transform: uppercase;
  flex: 1 1 100%;
}

.track__img {
  width: 55px;
  height: 50px;
}

.track__name {
  margin: 0;
  color: #E0E0E0;
  font-size: 12.8px;
  flex: 1 1 100%;
}

.track__time {
  font-size: 12.8px;
  color: #E0E0E0;
  margin-left: auto;
}

.track__container {
  margin-top: 23px;
  display: flex;
  flex-wrap: wrap;
}

.popular-track {
  display: flex;
  flex-wrap: wrap;
  width: 550px;
  justify-content: start;
  box-sizing: content-box;
}

.track__container .popular-track:nth-child(even) {
  padding-left: 50px;
}

.popular-track {
  margin-top: 25px;
}

.track__info {
  display: flex;
  flex-wrap: wrap;
  margin-left: 15px;
  align-content: center;
}

@media (max-width: 414px) {
  .popular-track {
    flex: 1 1 100%;
  }
  .track__container .popular-track:nth-child(even) {
    padding-left: 0;
  }
}
.discography-section {
  padding-top: 100px;
}

.discography__title {
  margin: 0;
}

.discography__name {
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
}

.discography__year {
  color: #E0E0E0;
  margin: 0;
}

.discography__container {
  margin-top: 23px;
  display: flex;
  flex-wrap: wrap;
}
.discography__container .discography__item {
  margin-top: 25px;
}
.discography__container .discography__item:not(:nth-child(4n+1)) {
  padding-left: 50px;
}

.discography__img {
  width: 250px;
  height: 250px;
  display: block;
}

@media (max-width: 414px) {
  .discography__img {
    width: 137px;
    height: 137px;
  }
  .discography__container .discography__item {
    width: 137px;
  }
  .discography__container .discography__item:not(:nth-child(4n+1)) {
    padding-left: 0;
  }
  .discography__container .discography__item:nth-child(even) {
    padding-left: 50px;
  }
}
.similar__sub {
  display: flex;
}

.similar-section {
  padding-top: 100px;
  margin-bottom: 100px;
}

.similar__title {
  margin: 0;
}

.similar__img {
  width: 250px;
  height: 250px;
  display: block;
}

.similar__name {
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 0;
}

.similar__container {
  margin-top: 23px;
  display: flex;
  flex-wrap: wrap;
}
.similar__container .similar__item {
  margin-top: 25px;
  text-align: center;
}
.similar__container .similar__item p {
  display: inline;
  margin: 0;
  color: #E0E0E0;
}
.similar__container .similar__item:not(:nth-child(4n+1)) {
  padding-left: 50px;
}

@media (max-width: 414px) {
  .similar__img {
    width: 137px;
    height: 137px;
  }
  .similar__container .similar__item p {
    display: block;
  }
  .similar__container .similar__item:not(:nth-child(4n+1)) {
    padding-left: 0;
  }
  .similar__container .similar__item:nth-child(even) {
    padding-left: 50px;
  }
}

/*# sourceMappingURL=style.css.map */
