@mixin h($size, $lineheight) {
    font-size: $size;
    line-height: $lineheight;
    font-weight: 700;
    text-transform: uppercase;
}

@mixin padding($vertical, $horizontal) {
    padding: $vertical $horizontal;
}

@mixin margin-top($top) {
    margin-top: $top;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    color: white;
    background-color: $black;
    margin: 0
}

h1 {
    @include h(60px, 90px);
}

h2 {
    @include h(38px, 57px);
}

@media (max-width: 414px) {
    // .container {
    //     padding: 0 20px;
    // }

    h1 {
        @include h(30px, 45px); 
    }
    h2 {
        @include h(18px, 27px); 
    }
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

.container {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.btn {
    color: #FFFFFF;
    text-transform: uppercase;
    border-radius: 5px;
}

.p-100 {
    padding-top: 100px;
}

.t-left {
    text-align: left;
}