.header__header {
    display: flex;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 25px;
}

.header__body {
    padding: 200px 0;
}

.header__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 570px;
}

.form__input_text {
    min-width: 270px;
    min-height: 50px;
    padding-left: 20px;
    margin-bottom: 1.5rem;
    border: 2px solid $dark-light;
    border-radius: 3px;
    background: transparent;
}

.form__input_text::placeholder {
    color: #FFFFFF;
    font-weight: bold;
}

.form__btn {
    flex: 1 1 100%;
    background-color: $green;
    border: none;
    @include padding(20px, 30px);
}

.logo__text {
    margin: 3px 0 0 16px;
    text-transform: uppercase;
    font-size: 11px;
    color: #FFFFFF;

}

.menu__link {
    color: $dark-light;
    text-transform: uppercase;
    font-size: 11px;
}



.menu__link:hover {
    color: white;
}

.header__search {
    border: none;
    border-radius: 50px;
    background-color: $dark;
    padding: 5px 0 5px 10px;
    width: 248px;
}

.header__search::placeholder {
    text-transform: uppercase;
}

.header__title {
    margin: 0;
}

.header__subtitle {
    margin-top: 0;
}

.logo__img {
    max-width: 24px;
    max-height: 24px;
}

.header__logo {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.header__menu {
    display: flex; 
    flex-wrap: wrap;
    margin-left: 90px;
}

.menu__list:not(:first-child) {
    margin-left: 24px;  
}

.header__search {
    max-width: 248px;
    margin-left: auto;
}

.header {
    background-image: url('./images/banner.png');
    background-position: center;
    background-size: cover;
}

@media (max-width: 414px) {
    .header__body {
        padding: 250px 0 200px;
    } 
    .header__form {
        max-width: 374px;
    }
    .form__input_text {
        flex: 1 1 100%;
    }
    .header__header {
        flex-direction: column;
        align-items: flex-start;
    }
    .header__menu {
        flex-direction: column;
        align-items: flex-start;
        margin: 0;
    }
    .menu__list:not(:first-child) {
        margin-left: 0;  
    }
    .menu__list:first-child {
        margin-top: 17px;
    }
    .header__search {
        margin-top: 18px;
        margin-left: 0;
        width: 370px;
    }
    .menu__item {
        line-height: 13px;
    }
    .header__header {
        width: 374px;
    }
}