$black: #08020D;
$light: #E0E0E0;
$dark-light: #CACACA;
$dark: #3C3B3D;
$green: #34C176;
$orange: #F89202;
$peorple: #5328A1;
$brown: #95390C;

@font-face {
    font-weight: 400;
    font-family: 'Roboto';
    src: url(../src/fonts/Roboto-Regular.ttf);
}

@font-face {
    font-weight: 700;
    font-family: 'Roboto';
    src: url(../src/fonts/Roboto-Bold.ttf);
}

